@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Novitas_Blog</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/27.1.48/fluent.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/27.1.48/dist/ej2.min.js"></script>
</head>
<body>
    <div class="fixed-top bg-white" id="navDiv">
        <header class="container-fluid pe-1">
            <!-----------------------------top_navbar-------------------------------->
            <nav class="navbar top_nav col-lg-6 justify-content-end col-sm-10 overflow-hidden ms-auto">
                <ul class="pe-3">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li><a class="nav-link" href="#"> @User?.Identity?.Name<span><i class="fa-solid fa-user"></i></span></a></li>

                        <li><a class="nav-link" asp-controller="Account" asp-action="Logout">| Logout <span><i class="fa fa-sign-out"></i></span></a></li>
                    }
                    else
                    {
                        <li><a class="nav-link" asp-controller="Account" asp-action="Login">| Login <span><i class="fa-solid fa-user"></i></span></a></li>
                        <li><a class="nav-link" asp-controller="Account" asp-action="Register">| Register <span><i class="fa-solid fa-clipboard-check"></i></span></a></li>

                    }
                    <li><a class="nav-link" href="">| Support <span><i class="fa-solid fa-question"></i></span></a></li>
                    <li><a class="nav-link" href="">| Contribute <span><i class="fa-solid fa-heart"></i></span></a></li>
                </ul>
            </nav>

            <!-----------------------------main_navbar_start-------------------------------->

            <div class="main_nav row d-flex">
                <!-----------main_logo------------>

                <div class="logo_div col">
                    <a asp-controller="Home" asp-action="Index" class="logo">
                        <h3 class="text-black fw-bold">Novitas<i class="fa-solid fa-code-fork text-primary-emphasis"></i></h3>
                    </a>
                </div>
                <!-----------main_menu------------>

                <div class="nav_div col-lg-9">
                    <div class="main_menu col">
                        <nav class="navbar navbar-expand-lg py-3">
                            <div class="container-fluid">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse me-3" id="navbarSupportedContent">
                                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                    {
                                        <ul class="navbar-nav ms-3">
                                            <li class="nav-item dropdown">
                                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Admin
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-dark">
                                                    <li><a class="dropdown-item" asp-controller="AdminTag" asp-action="Add">New Tag</a></li>
                                                    <li><a class="dropdown-item" asp-controller="AdminTag" asp-action="List">View All Tags</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" asp-controller="AdminArticle" asp-action="Add">New Article</a></li>
                                                    <li><a class="dropdown-item" asp-controller="AdminArticle" asp-action="List">View All Articles</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" asp-controller="AdminCategory" asp-action="Add">New Category</a></li>
                                                    <li><a class="dropdown-item" asp-controller="AdminCategory" asp-action="List">View All Categories</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" asp-controller="AdminUser" asp-action="Index">View All Users</a></li>
                                                </ul>
                                            </li>
                                        </ul>

                                    }

                                    <ul class="navbar-nav ms-3 mb-2 mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Partners</a>
                                        </li>
                                    </ul>
                                    <form class="d-flex ms-3 w-100" role="search">
                                        <input class="form-control me-2" id="searchInputHome" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-dark" type="submit" asp-controller="Article" asp-action="Search" id="searchBtnHome">Search</button>
                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <nav>
                <!-----------------nav_categories-------------->
                <div class="nav_categories col-lg-11 col-sm-11 ms-auto">
                    <ul>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="Latest"><span>|</span> Latest </a></li>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="Cloud"><span>|</span> Cloud </a></li>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="Tech"><span>|</span> Tech </a></li>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="Gadgets"><span>|</span> Gadgets </a></li>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="Gaming"><span>|</span> Gaming </a></li>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="Google"><span>|</span> Google </a></li>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="Streaming"><span>|</span> Streaming </a></li>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="Software"><span>|</span> Software </a></li>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="AI"><span>|</span> Artificial Intelligence </a></li>
                        <li><a asp-controller="Article" asp-action="Search" asp-route-searchQuery="Review"><span>|</span> Reviews </a></li>
                    </ul>
                </div>
                <!-----------------------------main_navbar_end-------------------------------->
            </nav>
        </header>
    </div>
    <main role="main" class="bodycontainer">
        @RenderBody()
    </main>
    <div class="container-fluid pe-1">
        <footer class="text-center text-lg-start border border-white bg-black">
            <!-- Grid container -->
            <div class="container p-2">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <h5 class="text-uppercase mb-3 fw-bold text-primary">Novitas24</h5>

                        <ul class="list-unstyled mb-3">
                            <li>
                                <a href="#!" class="text-white">About us</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Collections</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Artist collaborations</a>
                            </li>
                        </ul>
                    </div>

                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <h5 class="text-uppercase mb-3 text-primary">Careers</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-white">Jobs</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-9 mb-2 mb-lg-0">
                        <h5 class="text-uppercase mb-3 text-primary">Sign up to our newsletter</h5>
                        <div class="d-flex align-items-center">
                            <div class="form-outline form-white mb-4 col-7 me-2">
                                <label class="form-label text-white" for="form5Example2">Email address</label>
                                <input type="email" id="form5Example2" class="form-control" />
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-outline-primary btn-block" style="transform:translateY(5px)">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <div class="d-lg-none d-md-none d-sm-flex text-center bg-black">
                <h6 class="fw-bold text-white">Social Media</h6>
                </div>
                <div class="d-lg-none d-md-none d-sm-flex text-center bg-white">
                    <ul class="d-flex justify-content-evenly">
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-stack-overflow"></i></a></li>
                        <li><a href=""><i class="fab fa-github"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- Grid container -->
                <!-- Copyright -->
                <div class="text-center bg-white">
                    © 2024 Copyright:
                    <a class="text-black" href="#">Erncodes Inc.</a>
                </div>
                <!-- Copyright -->
        </footer>

    </div>
    <!-- End of .container -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <ejs-scripts></ejs-scripts>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
