@model CreateArticleRequest
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager;

<div class="container bodycontainer">
    <div>
        <h3>Create A New Article For Your Blog</h3>
    </div>
    <form method="post">
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="title" asp-for="Title" required>
            <label for="title" class="form-label">Title</label>
            <span class="text-danger fst-italic" asp-validation-for="Title"></span>
        </div>
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="description" asp-for="Description" required>
            <label for="description" class="form-label">Description</label>
            <span class="text-danger fst-italic" asp-validation-for="Description"></span>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <ejs-richtexteditor id="content" editorMode="HTML" ejs-for="Content">
                <e-richtexteditor-insertimagesettings saveUrl="/api/Image"></e-richtexteditor-insertimagesettings>
            </ejs-richtexteditor>
        </div>
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="blog_url" asp-for="Blog_Url" required>
            <label for="blog_url" class="form-label">Blog UrlHandle</label>
            <span class="text-danger fst-italic" asp-validation-for="Blog_Url"></span>
        </div>
        <div class="mb-3">
            <label for="featured_image_url" class="form-label">Featured Image</label>
            <input type="file" class="form-control" id="featured_image">
            <img id="image_Display" class="mt-3" src="" style="width:300px; display:none;" />
        </div>
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="featured_image_url" asp-for="Featured_Image_Url">
            <label for="featured_image_url" class="form-label">Featured_Image_Url</label>
            <span class="text-danger fst-italic" asp-validation-for="Featured_Image_Url"></span>
        </div>
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="author" asp-for="Author" required>
            <label for="author" class="form-label">Author</label>
            <span class="text-danger fst-italic" asp-validation-for="Author"></span>
        </div>
        @if (signInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
        {
            <div class="mb-3 form-check ">
                <input type="checkbox" class="form-check-input" id="isVisible" asp-for="Is_Visible">
                <label class="form-check-label" for="isVisible">Is Visible?</label>
            </div>
        }
            <div class="mb-3 form-check ">
                <input type="checkbox" class="form-check-input" id="isFeatured" asp-for="Is_Featured">
                <label class="form-check-label" for="isFeatured">Add To Featured</label>
            </div>
            <div class="mb-3 form-check">
                <label class="form-label">Category</label>
                <select class="form-select" asp-items="@Model.Category" asp-for="Selected_Category" required>
                </select>
                <span class="text-danger fst-italic" asp-validation-for="Selected_Category"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-label">Tags</label>
                <select multiple class="form-select" asp-items="@Model.Tags" asp-for="Selected_Tags">
                </select>
            </div>
            <button type="submit" class="btn btn-primary" asp-action="Add">Submit</button>
        </form>
</div>
@section Scripts{
    <script>

        let fileElement = document.getElementById("featured_image");
        let featuredImageUrl = document.getElementById("featured_image_url");
        let imageDisplay = document.getElementById("image_Display");

        async function UploadImage(e) {
            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/Image', {
                method: 'Post',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json()).then(result => {
                featuredImageUrl.value = result.link;
                imageDisplay.src = result.link;
                imageDisplay.style.display = 'block';
            })
        };
        fileElement.addEventListener('change', UploadImage);
    </script>
}